body {
	color: white;
    font-size: 14px;
    font-family: Arial, Tahoma, sans-serif;
}
main {
    height: 50%;
    width: 50%;
    margin: 0 auto;
	display: block;
	background: linear-gradient(#206988, #0c3256);
	box-shadow: 0px 0px 9px 0px #424040;
    border-radius: 7px;
}
main *{
	display: block;
	margin: 25px;
}
h1 {
	padding-top: 25px;
	text-shadow: 1px 1px #000;
 }
button {
	border-radius: 5px;
	padding: 5px;
}