@font-face {
	font-family: 'Helvetica';
	src: url('../font/helveticaneue-thin-webfont.eot');
	src: url('../font/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/helveticaneue-thin-webfont.woff2') format('woff2'),
	url('../font/helveticaneue-thin-webfont.woff') format('woff'),
	url('../font/helveticaneue-thin-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	font-size: 14px;
	font-family: 'Helvetica',Tahoma, sen-serif;		
}
#pict {
	visibility: hidden;
}
#back {
	height: 100%;
	width: 100%;
	background: url('../img/2.png') top center no-repeat;
	background-size: cover;
	position: relative;
}

/* Header  */
#head-menu {
	width: 100%;
	background: url('../img/menu.png');
	height: 35px;
	display: flex; 
	justify-content: flex-end;
}
#icon {
	padding-top: 7px;
	height: 22px;
	width: 22px;
}
.greeting, .login {
	padding: 8px 20px 8px 8px;
	color: #fff;
}
.login {
	padding: 8px;
	margin-right: 20px;
	background: linear-gradient(#50afdc, #2e7ac4); 
	border: 1px solid #56a2dc;
}
.login a:visited {
	color: #fff; 
}
.login a {
	color: #fff; 
}
.menu {
	overflow: hidden;
	margin-right: 20px;
	box-shadow: 3px 0px 0px -2px #56a2dc;
}
.menu li {
	float: left;  
} 
.menu li a {
	color: #60b5ed;
	text-decoration: none;
	display: block;    
	height: 35px;
	padding: 8px 10px;
}
.menu li a:hover {
	color: #fff; 
	background-color: #4eabda;
}
.menu li:last-child {
	padding-right: 10px;
}

/* Content */
.content {
	background-color: transparent;
	width: 550px;
	height: 610px;
	overflow: hidden; 
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.content div {
	width: 100%;
	background-color:rgba(0,0,0,0.6);
}
.header {
	margin-bottom: 2px;
	height: 50px;
}

/* Lines */
.name {
	font-size: 24px;
	text-align: center;
	padding-top: 13px;
}
.fancy {
	text-align: center;
	margin-top: 25px;
}
.fancy span {
	position: relative;  
	color: #999999;
	text-align: center;
}
.fancy span:before, .fancy span:after {
	content: "";
	position: absolute;
	height: 6px;
	border-bottom: 1px solid #666666;
	width: 123px;
	box-shadow: 0px 2px 1px -1px #000;
}
.fancy span:before {
	right: 100%;
	margin-right: 5px;
}
.fancy span:after {
	left: 100%;
	margin-left: 5px;
}

/* Form */
.inputform {
	height: 570px;
	display: flex;
	align-items: center;
	justify-content: center
}
form > input {
	background:	#0f0e0e;
	border:none;
	border-bottom:1px solid gray;
	padding: 8px 10px;
	width: 255px;	
	color: white; 
}
form > * {	
	font-family: 'Helvetica', Tahoma, sen-serif;	
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}
/*form > input:not([type='checkbox']):hover {
	background: #1b5288;	
}
form > input:not([type='checkbox']):hover, button:hover, .facebook:hover {
	box-shadow: 0px 0px 9px 2px #699bcd;
}*/
form > input:not([type='checkbox']):focus  {
background: #1b5288;
box-shadow: 0px 0px 9px 2px #699bcd;	
}
.create {	
	border: 1px solid #67c6e6;
	cursor: pointer;
	background: linear-gradient(#50aedb, #2e7ac4); 
	padding: 7px 15px;
	border-radius: 2px;
	color: #fff;
	vertical-align: middle;
	font-weight: bold;
} 
.check > * {	
	margin-left: 10px;
	display: inline-flex;
	vertical-align: middle; 
}
.licence {
	font-size: 11px; 
	text-align: center;
	margin: 5px;
}
.bold{
	font-weight: bold;	
}
.first{
	margin-left: 30px;	
}
.last{
	margin-right: 20px;
}
i.arrow {
	display: inline-block;
	width: 0.4em;
	height: 0.4em;
	border-right: 0.2em solid white;
	border-top: 0.2em solid white;
	transform: rotate(45deg);
}
.facebook p{ 
	margin-left: 30px;
}
button.facebook {
	color: #fff;
	width: 275px;
	height: 35px;
	display: block;
	text-align: center;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	padding: 4px 20px;
	margin: 15px auto;	
	position: relative;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	border-top: solid 1px #7789bb;
	background: linear-gradient(#3b5796, #2c4375); 
}
button.facebook:active {
	top: 1px; 
}
button.facebook:before {
	content: "";
	width: 35px;
	height: 24px;
	display: block;
	position: absolute;
	padding-top: 10px;
	line-height: 20px;
	top: 0px;
	margin-left: -15px;
	border-right: solid 1px #1f3c74;
	background: transparent; 	
	background-image: url('../img/f.png');
	background-repeat:no-repeat;
	background-size:contain;
	box-shadow: 0.7px -0.3px 1px -0.1px #7789bb;
}
